* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    
}

html {
    color: rgb(52, 52, 52);
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    
    max-width: auto;
    margin-left: auto;
    margin-right: auto;}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

header {

    background-color: rgb(185, 185, 185);
    
    
    position: fixed;
    top:0;
    
    width: 100%;
    height: 69px;
    z-index: 20;
    
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/



.logo-box {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    float: left;
    margin-left: 3%;
    
}



.white-box-header {
    
    background-color: rgb(185, 185, 185);

    position: fixed;
    padding-top:2px;
    padding-bottom: 6px;
    top: 69px;
    padding-left: 3%;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 1;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

.logo-txt {
    font-size: 300%;
    font-weight: 300;
    width: auto;


    margin-top: -5px;
    margin-bottom: 0;
    margin-left: 0;
    top: 0;
}




/*-----------------------------------------------------------------------------------------------------------------------------------*/



.btn:link,
.btn:visited {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0%;
    padding-left: 0%;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    word-spacing: 5px;
    border-radius: 00%;
    color: rgb(185, 185, 185);
    background-color: rgb(52, 52, 52);
    margin-top: 1.2%;
    margin-left: 1%;
    position: relative;

}

.btn:hover,
.btn:active {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0%;
    padding-left: 0%;
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    word-spacing: 5px;
    border-radius: 00%;
    color: rgb(185, 185, 185);
    background-color: rgba(51, 51, 51, 0.62);
    margin-top: 1.2%;
    margin-left: 1%;
    position: relative;
}



.btn-box {
    position: relative;
    width: 1140px;
    height: auto;
    top: 4px;
    padding-top: px;
    margin-left: 5%;
    margin-right: auto;
    transform: translate(0%, 0%);
    



}

.btn-position1 {
    float: left;
    width: 210px;
    position: relative;
    margin-right: 1%;
}

.btn-position2 {
    float: left;
    width: 210px;
    position: relative;
    margin-right: 1%;
}

.btn-position3 {
    float: left;
    width: 210px;
    position: relative;
    margin-right: 1%;
}

.btn-position4 {
    float: left;
    width: 210px;
    position: relative;
    margin-right: 0%;
}



/*-----------------------------------------------------------------------------------------------------------------------------------*/



.main-page {
    max-width: auto;
    margin-top: 215px;
    margin-bottom: 0;
}




.main-page-h2 {
    
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 50%;
    
}



.main-page-p1 {
    font-size: 20px;
    line-height: 30px;
    display: block;
    position: relative;
    top: 9px;
    color: rgba(255, 255, 255, 0.9)
}

.main-page-image1 {
    display: block;
    position: relative;
    height: 100%;
    float: left;
    margin-left: 0%

}




.main-page-container1 {
    display: block;
    margin-right: 0%;
    margin-left: 3%;
    margin-top: 0;
    font-weight: 400;
    width: 500px;


}


.main-page-content {
    position: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.67)), url(img/net1.jpg);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    margin-bottom: 500px;
}
